*{
    margin:0;
    padding:0;
    font-family:'Poppins', sans-serif;
    box-sizing:border-box;
}


body{
    background: #002339;
    color:white;
}
.container{
    /* background: rgb(205, 50, 50); */
    margin: 13%;
    width:90%;
    max-width:700px;
}

#copy-btn{
    width:30px;

}

.display{
    width:100%;
    margin-top:50px;
    margin-bottom:30px;
    background:white;
    color:#333;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:26px 20px;
    border-radius: 6px;

}

.container h1 {
    font-weight:500px;
    font-size:45px;


}
.container h1 span{
    color:#019f55;
    border-bottom: 4px solid #019f55;
}

#password{
    border:0;
    outline:0;
    font-size:17px;
}

.img{
    width: 30px;

}

.container button img{
    width: 28px;
    margin-right: 10px;

}

.container button {
    border: none;
    outline: none;
    background:#019f55;
    color: white;
    font-size:22px;
    font-weight: 300;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 14px 20px;
    border-radius: 5px;

}
